@page "/"
@using DenuncieAqui.Application.UseCases.ReportUseCase
@using DenuncieAqui.Application.UseCases.ImageUseCase
@using DenuncieAqui.Application.UseCases.CommentUseCase
@using DenuncieAqui.Application.UseCases.LikeUseCase
@using DenuncieAqui.Domain.Entities

@rendermode InteractiveServer
@inject ReportUsecase _reportUseCase
@inject ImageUseCase _imageUseCase
@inject CommentUseCase _commentUseCase
@inject LikeUseCase _likeUseCase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
<div class="full-page-background"></div>
<div id="post-container">
    @if (reports != null && reports.Any())
    {
        @foreach (var report in reports)
        {
            <div class="post-item">
                <div id="post-header">
                    <img src="/Images/Slogan 5.jpeg" alt="Profile Picture">
                    <div id="user-name">@report.UserName</div>
                </div>
                <div id="post-name">
                    <p>@report.ReportName</p>
                </div>
                <div id="post-description">
                    <p>@report.ReportDescription</p>
                </div>

                @if (report.Images != null && report.Images.Any())
                {
                    @foreach (var image in report.Images)
                    {
                        <img src="@image.ImageUrl" alt="Post Image" class="post-image">
                    }
                }
                else
                {
                    <p>No images available for this report.</p>
                }

                <div id="actions">
                    <button @onclick="() => SubmitLike(report.Id)">Like</button>
                </div>

                <EditForm Model="@Model" OnValidSubmit="() => SubmitComment(report.Id)" FormName=@($"commentForm-{report.Id}")>
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label class="form-label">Comentário</label>
                        <InputText @bind-Value="Model.CommentContent" class="form-control" placeholder="Escreva um comentário..."></InputText>
                        <ValidationMessage For="@(() => Model.CommentContent)" />
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar Comentário</button>
                </EditForm>

                @if (report.Comments != null && report.Comments.Any())
                {
                    <div class="comment-section">
                        @foreach (var comment in report.Comments)
                        {
                            <div class="comment-item">
                                <p><strong>@comment.UserName:</strong> @comment.CommentContent</p>
                            </div>
                        }
                    </div>
                }

            </div>
        }
    }
    else
    {
        <p>Não há denúncias disponíveis.</p>
    }
</div>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@code {
    public IEnumerable<Report> reports;
    public IEnumerable<Image> images;
    public IEnumerable<Comment> comments;
    public IEnumerable<Like> likes;

    public Comment Model { get; set; } = new Comment();
    private string errorMessage = "";
    private string successMessage = "";

    protected override async Task OnInitializedAsync()
    {
        reports = await _reportUseCase.GetReportsAsync();
        images = await _imageUseCase.GetImagesAsync();
        comments = await _commentUseCase.GetCommentsAsync();
        likes = await _likeUseCase.GetLikesAsync();
    }

    private async Task SubmitComment(Guid reportId)
    {
        try
        {
            await _commentUseCase.CreateCommentAsync(reportId, Model.CommentContent);

            successMessage = "Comentário adicionado com sucesso!";
            errorMessage = string.Empty;
        }
        catch (UnauthorizedAccessException)
        {
            errorMessage = "Usuário não autenticado.";
            successMessage = string.Empty;
        }
        catch (Exception ex)
        {
            errorMessage = $"Ocorreu um erro: {ex.Message}. Inner Exception: {ex.InnerException?.Message}";
            successMessage = string.Empty;
        }
    }

    private async Task SubmitLike(Guid reportId)
    {
        try
        {
            await _likeUseCase.AddLikeAsync(reportId);
            successMessage = "Curtida adicionada com sucesso!";
            errorMessage = string.Empty;
        }
        catch (UnauthorizedAccessException)
        {
            errorMessage = "Usuário não autenticado.";
            successMessage = string.Empty;
        }
        catch (Exception ex)
        {
            errorMessage = $"Ocorreu um erro ao adicionar curtida: {ex.Message}";
            successMessage = string.Empty;
        }
    }
}
